.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.6);
  color: rgb(44, 44, 44);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;

  .title-event {
    background-color: #0062cc;
    color: white;
    padding: 20px;
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  input::placeholder,
  textarea::placeholder {
    color: black;
  }

  label {
    font-weight: bold;
    padding-bottom: 2px;
  }
  small {
    padding: 2px 0 0 5px;
  }
  button {
    margin-top: 12px;
  }
}

@media screen and (max-width: 468px) {
  .modal {
    max-width: 345px;
  }
}
