.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 25px;
  padding: 25px;
  position: fixed;
  right: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46);
}

.fab-danger {
  border-radius: 100%;
  border: #f44336;
  bottom: 25px;
  font-size: 25px;
  width: 80px;
  height: 80px;
  position: fixed;
  left: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
