.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 25px;
  width: 75px;
  height: 75px;
  position: fixed;
  right: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46);
  }
}

.fab-danger {
  border: #f44336;
  left: 40px;
}

@media screen and (max-width: 468px) {
  .fab {
    bottom: 15px;
    right: 15px;
    width: 55px;
    height: 55px;
    font-size: 20px;
  }
  .fab-danger {
    left: 15px;
  }
}
